@import url("needsharebutton.css");

#nodebb *, #nodebb *:before, #nodebb *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#nodebb {
  margin-bottom: 50px;
  background-color: #fff;
  padding: 18px 18px 0;
  position: relative;
  min-height: 86px;
}

#nodebb  > form {
  margin: 6px 146px 0 72px;
}

#nodebb a {
  border: none;
  color: inherit;
}

#nodebb .well {
  min-height: 20px;
  padding: 24px;
  margin-bottom: 20px;
  background-color: #FFF;
  border: 1px solid #EDEDED;
  border-radius: 0px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}
#nodebb .topic-item {
  position: relative;
}

#nodebb .topic-body {
  padding: 11px 0 9px 0;
  display: inline-block;
  width: 100%;
}

#nodebb .topic-profile-pic {
  width: 50px;
  position: absolute;
}

#nodebb .topic-profile-pic a {
  text-decoration: none;
}

#nodebb .user {

}

#nodebb .topic-text {
  width: 100%;
  float: left;
  padding-left: 72px;
  font-size: 12px;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.62);
  margin-top: 3px;
}

#nodebb .topic-text blockquote {
  margin-left: 10px;
}

#nodebb .topic-text img {
  display: inline-block;
}

#nodebb .topic-text p {
  margin: 8px 0;
}

#nodebb .topic-text small {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.6px;
}

#nodebb .topic-text .plugin-mentions-a {
  font-size: 12px;
}

#nodebb .topic-text .plugin-mentions-a:hover, #nodebb .topic-text .plugin-mentions-a:focus {
  text-decoration: underline;
}

#nodebb .topic-text .date-created a:hover, #nodebb .topic-text a:focus {
  text-decoration: underline;
}

#nodebb .topic-text .date-created {
  margin-left: 12px;
  color: #000000;
}

#nodebb .profile-image {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #EFEFEF;
  line-height: 52px;
  font-size: 26px;
  color: white;
  text-align: center;
}

#nodebb img.profile-image {
  border: 1px solid #d3d3d4;
  padding: 4px;
}

#nodebb > ul {
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}

#nodebb > ul > li {
  border-bottom: 1px solid #d3d3d4;
  min-height: 81px;
}

#nodebb > ul > li:last-child {
  border-bottom: none;
}

#nodebb .form-control:focus {
  outline: none;
  box-shadow: none;
}

#nodebb .form-control {
  display: block;
  padding: 11px 12px;
  font-size: 12px;
  border-radius: 3px;
  background-color: #fff;
  border: solid 1px #bdbec3;
  box-shadow: none;
  outline: 0px none;
}

#nodebb .btn {
  display: inline-block;
  margin-bottom: 0px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 0px;
  -moz-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#nodebb .btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#nodebb .btn:hover,
#nodebb .btn:focus {
  color: #333333;
  text-decoration: none;
}
#nodebb .btn:active,
#nodebb .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#nodebb .btn.btn-primary {
  height: 41px;
  border-radius: 3px;
  background-color: #000000;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #FFF;
  float: right;
  text-transform: uppercase;
}

#nodebb form .btn.btn-primary {
  position: absolute;
  right: 18px;
  top: 19px;
}

#nodebb .login-info {
  line-height: 41px;
  color: rgba(0, 0, 0, 0.62);
  font-size: 12px
}

#nodebb-load-more {
  transition: background-color 0.6s ease;
}

#nodebb .highlight {
  background-color: rgba(240, 173, 78, 0.75);
}

#nodebb .btn.btn-primary.highlight {
  border-color: rgba(240, 173, 78, 0.75);
  background-color: rgba(240, 173, 78, 0.75);
}

#nodebb iframe {
  border: 0;
}

#nodebb .nodebb-post-fadein {
  opacity: 0;
}

#nodebb #nodebb-error {
  color: #dd3232;
}

#nodebb .nodebb-copyright {
  font-size: 14px;
}

#nodebb .nodebb-copyright a {
  text-decoration: none;
  color: #38C071;
}

#nodebb .emoji {
  height: 20px;
  width: 20px;
  display: inline-block !important;
}

.nodebb-author img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

/*add for reply and quota*/
#nodebb .sub-reply-input, #nodebb .edit-input {
  margin-bottom: 20px;
  position: relative;
  padding-right: 146px;
}

#nodebb .edit-input {
  padding-right: 155px;
}

#nodebb .sub-reply-input .btn.btn-primary, #nodebb .edit-input .btn.btn-primary  {
  right: 0;
  top: 0;
  margin-top: 0;
}

#nodebb .no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#nodebb .post-tools {
  float: right;
}

#nodebb .post-tools a {
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

#nodebb .post-tools .dropdown-toggle:active, #nodebb .post-tools .dropdown-toggle:focus {
  text-decoration: none;
}

#nodebb .post-tools .dropdown-menu {
  box-shadow: -0px -1px 8px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #d3d3d4;
}

#nodebb a i.icon-bookmark{
  color: #38C071;
}

#nodebb a i.icon-thumbs-up-alt{
  color: #38C071;
}

#nodebb .post-tools a .badge{
  background-color: #000;
  margin-top: 1px;
}

#nodebb .top-tool-box {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  color: dimgray;
  position: relative;
  line-height: 1; /* to avoid different page line-height. */
}

#nodebb .top-tool-box a {
  cursor: pointer;
}

#nodebb .top-tool-box a .upvote-count{
  position: absolute;
  word-break: initial;
  color: white;
  background-color: lightgray;
  padding: 0 8px 0 15px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#nodebb .reply-label {
  padding: 0 5px;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-appearance: button;
  -moz-appearance: button;
  transition: box-shadow 0.3s;
  color: #000;
  background-color: #fff;
  border: 1px solid #bdbec3;
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: 0.7px;
  margin: 0 0 0 12px;
  text-transform: uppercase;
  vertical-align: top;
}

#nodebb .reply-label:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

#nodebb .hidden {
  display: none;
}

#nodebb .highlight {
  background-color: rgba(240, 173, 78, 0.75);
  margin: 0; /* fix margin on hexo next theme */
}

#nodebb .post-content blockquote {
  font-size: 12px;
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 4px solid #e4e5e8;
}

#nodebb .reply-button {
  color: rgba(0, 0, 0, 0.62);
  text-transform: uppercase;
  float: right;
}

@media (max-width: 767px) {
  #nodebb {
    margin: 0 -12px;
    padding-left: 12px;
    padding-right: 12px;
  }

  #nodebb > form {
    margin-right: 6px;
    margin-bottom: 32px;
  }

  #nodebb .sub-reply-input, #nodebb .edit-input {
    padding-right: 0;
  }

  #nodebb form .btn.btn-primary {
    top: 72px;
  }

  #nodebb .sub-reply-input .btn.btn-primary, #nodebb .edit-input .btn.btn-primary {
    top: 53px;
  }

  #nodebb .sub-reply-input, #nodebb .edit-input {
    margin-bottom: 65px;
  }
}